body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.intestazione{
    background-color: #000957;
    width: 100%;
    height: 80px;
    display: flex;
    padding: 0 20px;
    align-items: center;
        h2{
            color: #577BC1;
        }
        
}

h1{
    text-align: center;
    color: #f3f3f3 !important;
}


h2{
    margin-bottom: 0 !important;
    text-align: center;

}

.header{
    display: flex;
    justify-content: center;
}

header img{
    width: 30%;
}



.dropdown-menu .dropdown-item {
    background-color: #577BC1;
}

/* Cambia colore al passaggio del mouse */
.dropdown-menu .dropdown-item:hover {
    background-color: #405da8;
    color: white;
}

#toggleMenu,
#toggleMenuEn,
#toggleMenuDe  {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  .dropdown-menu.show{
    padding: 0 !important;
  }
  

.load{
    background-color: #000957;
    color: white;
}


/* Bottoni e navbar */

.navbar{
    display: flex;
    flex-direction: column;
}

#toggleMenu , #toggleMenuEn ,#toggleMenuDe{
    margin-bottom: 10px;
}

img{
    width: 100%;
}

/* Menu */

#intro{
    background-color: #577BC1 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;
}

h4 , p , strong{
    color: black;
    text-align: center;
}

img:first-of-type{
    margin: 20px 0;
}


/* Loader */

.loader {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  #loader-text {
    margin-top: 10px;
    font-size: 16px;
    color: white;
  }
  
  

/* Animazione di rotazione */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* estetia dropdown menu  */

.menu{
    display: flex;
    justify-content: center;
}

.bottone{
    margin: 5px 0 ;
    width: 90%;
}


/* footer  */

footer{
    background-color: #000957;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: end;
}

footer{
    img{
        width: 20%;
    }
}